* {
  box-sizing: border-box;
}
body {
  background-color: black;
  text-align: center;
  font-family: "Verdana", sans-serif;
  color: white;
}
h1 {
  font-weight: normal;
  font-size: 50px;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
a {
  display: block;
  text-align: center;
  color: aquamarine;
  font-size: 16px;
  font-family: Verdana;
}
p {
  color: gray;
  font-size: 21px;
}
.footer {
  text-align: right;
}
